<div class="htia blockquote">
    <img src="../../assets/Images/book.png" class="img-fluid" alt="Su navegador no puede visualizar esta imagen">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis iste in quas repellendus cupiditate
      ipsum, animi, molestiae laudantium vel tenetur delectus. Fuga sapiente aspernatur aperiam ducimus,
      reprehenderit, maxime provident tempore a distinctio tenetur iusto sit dolores repellat libero nisi eius, error
      atque quibusdam tempora blanditiis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad
      minus perspiciatis quia necessitatibus blanditiis nam voluptas quidem a temporibus enim facilis soluta officiis
      dicta, at voluptates modi assumenda molestiae. Cumque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quasi officia laboriosam totam eligendi, perferendis adipisci at doloribus culpa facilis necessitatibus id
      praesentium architecto vero temporibus exercitationem commodi iure unde illo dolorum mollitia omnis numquam ex
      voluptatum. Quaerat quam, autem neque non ipsam, consequuntur quod nesciunt facere totam reiciendis eiu. Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Sunt voluptates praesentium cupiditate nihil soluta commodi?
      Magni iste odio praesentium consectetur sed ducimus vero, sunt nostrum, sapiente nam voluptatibus suscipit est
      eius id nemo dolor accusamus fugiat sequi, minus mollitia qui dicta quisquam. Corrupti voluptate sint
      perferendis quisquam voluptatem tenetur, iste deleniti? Et, reiciendis! Ipsum minus vero commodi eaque
      consequuntur quidem dolor doloremque ex cupiditate deleniti aspernatur, est maiores perspiciatis explicabo id
      necessitatibus alias. Quam labore aspernatur, atque dicta suscipit official. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Placeat blanditiis facilis ex harum quibusdam rerum minus, aliquam laboriosam qui
      magnam doloribus accusamus incidunt omnis pariatur dolorem dicta sint, dolorum inventore?
    </p>
  </div>

