@media (max-width: 991px){
    .navdis {
        width: 100% !important;
    }

    .hti h1{
        padding-top: 20px;
        color: gray;
        font-size: 40px;
    }

    .htia{
        display: block;
    }

    .htia img{
        width: 500px;
    }

   .htib {
       margin-top: 610px;
       margin-left: 0px;
       width: 300px;
   }

   .htib hr{
       width: 350px;
   }

   .htibu button{
    margin-left: 130px;
    font-size: 20px;
    width: 140px;
    height: 60px;}
}




@media (max-width: 991px){
    .navtit {
        margin-left: 10px;
    }
}